.ant-menu {
  height: 100% !important;
}
.admin-container {
  display: flex;
}
.admin-menu {
  flex-shrink: 0;
}
.content {
  flex: 1 1 auto;
  background-color: red;
}
.admin-header {
  background-color: blue;
  height: 70px;
}
